h2 {
    background-color: rgb(169,211,78);
    height: 50px;
    border: 5px solid red;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 10px
}

h1{
    color: #ff0aff;
    font-family: 'Modak', cursive;
    text-align:center;
}

p{
    color: green;
    font-family: arial;
    text-align: center; 
}
p, li{
    font-size: 16px
}
.special{
    color: blue
}
a:visited{
    color: yellow
}

a:hover{
    color: rebeccapurple
}

a {
    text-decoration: none

}
table{
    width: 350px;
    height: 80px;
    table-layout: auto;
}

.nuevoo{
    text-align: justify;
    color: blueviolet;
    font-family: arial;
    font-size: 16px;
    margin: 65px;
}

.hspecial{
    margin: 30px;
    
}